@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    width: 100%;
}

body{
    background-color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

/* Top Nav bar */
    nav#header {
        display: flex; 
        background: rgba(255,255,255,0.9);   
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    #header ul li{
        display: inline;
    }

    nav#header ul li a:link,
    nav#header ul li a:visited
    {
        color: rgba(0,0,0, 0.85);
        padding: 15px 30px;
        text-decoration: none; 
    }

    #logo-navbar{
        height: 60px;
        position: relative;
        top: 10px;
    }

    .nav-links{
        font-size: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .push-right{
        margin: 0 auto;
    }

    .fb-logo{
        height: 30px;
        position: relative;
        top: 10px;
    }

    #header .icon {
        display: none;
    }

    .icon{
        font-size: 30px;
        color: #222778;
        transition: 1s;
    }

    nav#header ul hr{
        display: none;
    }

    /* Navbar Current Page */
        ul li a#home-current{
            background: url('../images/hand-red.png') left no-repeat;
            background-size: 30px 30px;
        }

        ul li a#about-us-current{
            background: url('../images/hand-orange.png') left no-repeat;
            background-size: 30px 30px;
            margin-left: 20px;
        }

        ul li a#services-current{
            background: url('../images/hand-blue.png') left no-repeat;
            background-size: 30px 30px;
            margin-left: 20px;
        }

        ul li a#contact-current{
            background: url('../images/hand-green.png') left no-repeat;
            background-size: 30px 30px;
            margin-left: 20px;
        }

        ul li a#careers-current{
            background: url('../images/hand-pale-blue.png') left no-repeat;
            background-size: 30px 30px;
            margin-left: 20px;
        }
    /* Navbar Current Page End*/


    /* Navbar Hover */
        ul li a#home-link:hover,#home-current:hover,#about-us:hover,#services:hover,#contact:hover,#careers:hover,
        #home-current:hover,a#about-us-current:hover,a#contact-current:hover,a#services-current:hover,a#careers-current:hover
        {
            text-decoration: none; 
            cursor: pointer; 
            position: relative;
            bottom: 5px;
        }

        ul li a#home-link:hover
        {
            background: url('../images/underline-red.png') bottom center no-repeat;
            background-size: 70% 20px;
        }

        ul li a#about-us:hover
        {
            background: url('../images/underline-orange.png') bottom center no-repeat;
            background-size: 70% 20px;
        }

        ul li a#contact:hover
        {
            background: url('../images/underline-green.png') bottom center no-repeat;
            background-size: 70% 20px;
        }

        ul li a#services:hover
        {
            background: url('../images/underline-blue.png') bottom center no-repeat;
            background-size: 70% 20px;
        }

        ul li a#careers:hover
        {
            background: url('../images/underline-pale-blue.png') bottom center no-repeat;
            background-size: 70% 20px;
        }
    /* Navbar Hover End */
/* Top Nav bar End*/

/* Home */
    .p-text{
        font-family: 'Roboto', sans-serif; 
        text-align: left;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 2;
        padding: 10px 25px;
    }

    #name{
        font-size: 5rem;
        color: #222778;
        filter: drop-shadow(1px 1px 0px black);  
    }

    #slogan{
        font-family: 'poppins', sans-serif;;
        font-size: 1.5rem;
    }

    #home{
        height: 100vh;
        padding-top: 20%;
        background-image: url(../images/aba-transp.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'poppins', sans-serif;
    }

    #main-content{
        padding-top: 8%;
        padding-bottom: 5%;
        background-image: url(../images/children-drawing.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-content-text{
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        text-shadow: 0px 0px 1px black;
        box-shadow:0px 0px 5px white; 
    }

    #arrow-down{
        font-size: 400%;
        color:#026cce;
        position:fixed;
        bottom:5%;
        filter: drop-shadow(1px 1px 1px black);  
        display: inline-block;
        width: 100%;
    }

    #arrow-down:hover {
        color: black;
        transform: translateY(4px);
    }
    
    #arrow-bottom{
        font-size: 40px;
        text-decoration: none;
        color:#026cce;
        position: relative;
        margin-left:-300px;
        max-width:100%;
    }

    #arrow-bottom:hover{
        color: black;
        top: 4px;
    }
/* Home End */

/* About and services */
    #about-content{
        padding-top: 10%;
        padding-bottom: 8%;
        background-image: url(../images/drawing.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-text{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        text-shadow: 0px 0px 1px black;
        box-shadow:0px 0px 5px white; 
    }

    h1#about-us-headers{
        padding: 10px 25px;
        font-family: 'poppins', sans-serif;
        font-size: 3rem;
        text-shadow: none;
    }
/* About End */

/* Services */
    .services-content{
        padding-top: 8%;
        padding-bottom: 5.5%;
    }

    /* Courusel */
        .carousel-backdrop{
            border-radius: 10px;
            background: rgba(0,0,0,0.8); 
            padding: 20px;
        }

        .carousel-control-next, .carousel-control-prev {
            font-size: 50px;
            color: white;
            filter: drop-shadow(2px 2px 2px black); 
        }

        .midway-change{
            color: white;
        }
    /* Courusel End*/
/* Services End */

/* Contact Us */
    #contact-container{
        background-image: url(../images/child-mail.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);  
        margin-top: 90px;
        color: white;
    }

    .contact-content{
        padding-top: 10%;
        padding-bottom: 5%;
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,1));  
    }

    
    .contact-header{
        font-size: 50px;
        font-family: 'poppins', serif;
    }

    .sub-headers{
        font-family: 'poppins', serif;
        font-size: 20px;
    }

    .days{
        display: inline;
        font-size: 16px;
    }

    #name-field, #email-field, #text-box{
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0px solid ;
        background: #eee;
        border-radius: 5px 5px 5px 5px;
        font-family: 'poppins';
    }
    
    #name-field:focus, #email-field:focus, #text-box:focus{
        border: 1px #026cce;
    }

    .input-box, .submit-button-box{
        padding: 5px;
    }

    button.submit-button{
        padding: 15px 50px;
        border: none;
        background: #026cce;
        border-radius: 5px;
        font-family: 'poppins';
        font-size: 18px;
        color: white;
        position: relative;
        transition: 0.5s;
    }

    button.submit-button:after {
        content: '»';
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
      
    button.submit-button:hover{
        padding-right: 30px;
        padding-left:20px;
    }
      
    button.submit-button:hover:after {
        opacity: 1;
        right: 10px;
    }

    /* Careers */
    #careers-container{
        background-image: url(../images/form.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);  
        margin-top: 90px;
        color: white;
    }

    .careers-content{
        padding-top: 3%;
        padding-bottom: 3%;
        filter: drop-shadow(1px 1px 2px rgba(0,0,0,1));  
    }

    .careers-headers{
        font-size: 25px;
        font-family: 'poppins', serif;
    }

    .career-description{
        font-family: 'poppins', serif;
        font-size: 18px;
    }

    .separation-bar-careers{
        display: none;
    }
    
/* Resposive Design */
    @media (max-width: 1450px) {
        #main-content{
            background-image: url(../images/children-drawing-small.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        #about-content{
            background-image: url(../images/drawing-small.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media (max-width: 1200px) {
        nav#header ul li a.nav-links{
            padding: 10px;
        } 

        nav#header{
            padding-bottom: 30px;
        }

        ul li a#home-current{
            background: url('../images/underline-red.png') bottom center no-repeat;
            background-size: 90% 20px;
        }

        ul li a#services-current{
            background: url('../images/underline-blue.png') bottom center no-repeat;
            background-size: 90% 20px;
            margin-left: 0;
        }

        ul li a#about-us-current{
            background: url('../images/underline-orange.png') bottom center no-repeat;
            background-size: 90% 20px;
            margin-left: 0;
        }

        ul li a#contact-current{
            background: url('../images/underline-green.png') bottom center no-repeat;
            background-size: 90% 20px;
            margin-left: 0;
        }

        ul li a#careers-current{
            background: url('../images/underline-green.png') bottom center no-repeat;
            background-size: 90% 20px;
            margin-left: 0;
        }

        .services-content{
            margin-top: 12%;
            padding-bottom: 5.5%;
        }

        #contact-container{
            margin-top: 20px;
        }

        .fb-logo{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .fb{
            pointer-events: none;
            display: none;
        }

        #careers-container{ 
            margin-top: 110px;
        }
    }

    @media (max-width: 800px) {
        .text-align-center{
            text-align: center;
        }

        #contact-info-start{
            margin-top: 50px;
        }

        #contact-info-end{
            margin-bottom: 50px;
        }
        
        .separation-bar-careers{
            display: block;
        }

        .push-right{
            display: none;
        }

        #header a.icon {
            right: 15%;
            position: absolute;
            display: block;
        }
        
        #header.responsive .icon {
            top: 10%;
            color: #AF2026;
            transition: 1s;
        }

        #header.responsive ul li #logo-navbar {
            display: none;
        }
        
        #header.responsive ul.push-right{
            float: left;
            display: block;
            padding-left: 0;
        }
    
        nav#header.responsive ul li a{
            display: block;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
    
        nav#header.responsive ul hr{
            display: block;
        }
    
        nav#header.responsive {
            background: rgba(255,255,255,0.98);   
        }
    
    
        ul li a#home-current{
            background: none;
        }
    
        ul li a#services-current{
            background: none;
        }
    
        ul li a#about-us-current{
            background: none;
        }
    
        ul li a#contact-current{
            background: none;
        }

        ul li a#careers-current{
            background: none;
        }
    
    }

    @media (max-width: 640px) {
        nav#header ul li a.nav-links{
            padding-left: 5px;
            padding-right: 5px;
        } 

        nav#header ul li a.nav-links#home-link, nav#header ul li a.nav-links#home-current {
            padding-left: 0;
            padding-right: 0;
            margin-right: 10px;
        } 

        nav#header ul{
            margin-right: 9px;
            flex: auto;
        }

        nav#header{
            padding-bottom: 0;
        }

        #name{
            padding-top: 0;
            font-size: 65px;
        }

        body{
            padding-top: 65px; 
        }
    
        
        #careers-container{ 
            margin-top: 20px;
        }
    }

        @media (max-width: 420px) {
            #name{
                font-size: 50px;
            }
        }
